#red{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  margin : auto;
}
#green{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: green;
  text-align: center;
  margin : auto;
  
}
#yellow{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  margin : auto;
}
#common{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  margin : auto;
}